.App {
  text-align: center;
  
}
titleName{
  text-align:center;
}

html {height: 100%;
  background: linear-gradient(pink, #9198e5);}

ul {
  list-style-position: inside;
  text-align: center;
}


.App-link {
  color: #61dafb;
}



